<<<<<<< HEAD
body {
  width: 1200px;
  margin: 0 auto;
}

main {
  position: relative;
  top: 65px;
=======
main {
  width: 2850px;
  margin: 0 auto;
>>>>>>> 8840fa14a40d32a367259edb3816cdadd9eb829a
}

header {
  position: fixed;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 5;
  background-color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
}

.nav a {
  display: inline-flex;
  justify-content: flex-end;
  color: black;
}

.logo img {
  display: flex;
  flex-grow: 1;
  width: 100px;
}

.container .large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.container .medium {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 300px;
}

.container .small {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  width: 240px;
}

#phish {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  color: white;
}

#earth {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  color: white;
}

#camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  color: white;
}

#cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  color: white;
}

#bites {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  color: white;
}
